<div style="background:#FFDD48">
<div class="backg">  
<app-user-course></app-user-course>


</div>
<div class="row">
    <div class="col-lg-10">
    <app-user-course-item 
    *ngFor ="let course of courses;let i=index"
    [course]="course"

    [index]="i">
    </app-user-course-item>
    </div>
    <div class="col-lg-2" *ngIf="instruct " >
        <H1 class="anima"> ADD NEW COURSE</H1><br>
        <div class="icon"><span class=" glyphicon glyphicon-hand-down"></span></div>     
            <div *ngIf="instruct " class="align" >
                    <BUTTON class="btn btn-success button" routerLink="/courselist" >ADD COURSE</BUTTON>
            </div>
    </div>
    
</div>
</div>

    