
.row{
    margin-top: 10px;
}
.offers{
     
    /* animation: bgchange 1s infinite;
     */
     color:#F4D03F  ;
    margin-bottom:20px;

}
 



.item
{
    text-align:center;
    font-family: fantasy;
    font-size:50px;
    background:#229DF0
     ;

}
.set
{
    padding-bottom:1000px;
    margin:20px
}