 <div class="container set">
 <div class="  row" (mouseover)="description()" (mouseout)="undescription()" >
    <div class="col-lg-4" style="text-align:center"> 
    <img class="img2"
    [src]="course.imageUrl" 
    alt="{{course.courseName}}" >
    </div>
     <div class="col-lg-4">
    <div class="size">{{course.courseName}}</div>
    <div class="size">{{course.price}} Rs</div>
     </div>
      <div class="col-lg-4">
       <div class="align"  >  
        <span class="glyphicon glyphicon-hand-right"></span> <button class="btn btn-danger"  (click)="onDelete()" style="cursor:pointer"><span class="glyphicon glyphicon-trash"></span>   X</button>
       </div>
        
             
          <div *ngIf="!buy" class="align" >
          <span class="glyphicon glyphicon-hand-right"> </span> <a  (click)="onAddToMyCourse()"  class="btn btn-primary"style="cursor:pointer"> 
          <span class="glyphicon glyphicon-shopping-cart"></span>Buy course</a>
          </div>

         <div *ngIf="buy" class="align"> <span class="glyphicon glyphicon-shopping-cart"></span><span>buyed course</span></div>
      </div>
      </div>        
            <div class="size2" *ngIf="descrip" >{{course.courseDetail}}</div>
          
        
      </div>
     
             
           
  
  