 .set
 {
     background:rgb(232, 233, 233);
     border:solid  0px black;
     border-radius:1%;
     box-shadow:5px 5px 10px black; 
 
     
 
 }
 .anima:hover{
     animation: change 1s;
 }
 
 .glyphicon
 {
     font-size: 20px;
 }
 .name
 {
     border-right:solid black 1px;
     
 }
 
 .desc{
     margin-bottom: 5%;
     text-align: center;
     font-family: cursive;
     background: #EAECEE ;
     box-shadow:10px 10px 15px black;
     
    
 }
 
 @keyframes change
 {
 
 from{ box-shadow:5px 5px 10px black}
     to{ box-shadow:10px 10px 15px black};
 }
 .size{
     font-size: 200%
 }
 .img2{
     height:200px ;width:50%;
     box-shadow:5px 5px 5px black;
 }
 hr{
     border:2px solid black;
 }


  
   

 
 