.set
{
    background:black;
}

.item:hover{
    color:red;
}

h4{
    color:white;

}
.button
{
    margin-left:6px;
    margin-right:6px;
    background:black;
    color:white;
    border:solid black 2px;

}
.button2
{
    margin-left:6px;
    margin-right:6px;
    background:white;
    color:black;
    border:solid black 2px;

}
.click
{
    background:white;
    color:black;
}
.sticky {
    position: fixed;
    width: 100%;
    z-index: 5;
    top:0;

  }

.email
{
    padding-top:11px;
    padding-right:10px;
    font-size: 20px;
}  

.family
{
   font-family: cursive;
   text-align: center;
}