
<div class="bgImg">
        <app-header></app-header>



<div class="container">
    <div class="row background">

        <div class="col-lg-6  "><img src="https://ak4.picdn.net/shutterstock/videos/15776284/thumb/3.jpg"></div>
 
        <div class="col-lg-6 form" >
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <h1 class="family">Welcome Back</h1>

        <h1 class="family">LOGIN</h1>
            <div class="form-group">
                    <label for="email" class="family" ><h3>E-Mail</h3></label>
                    <input type="email" 
                    id="email"
                     name="email" 
                     ngModel class="form-control"
                      required email 
                      #email="ngModel"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
           >
                    <span class="family error" *ngIf="!email.valid && email.touched">PLEASE ENTER CORRECT EMAIL</span>
                </div>
        <div class="form-group">
                <label for="password" class="family" ><h3>PASSWORD</h3></label>
                <input type="password"  
                id="password"
                 name="password"
                  ngModel class="form-control"
                   required
                   [minlength]=7
                    #password="ngModel">
                <span class="family error" *ngIf="!password.valid && password.touched">PLEASE ENTER PASSWORD OF MINIMUM LENGTH 7</span>
            </div>
                        
                       <button type="submit" class="btn btn-success">LOGIN</button>
    <div><h3 class="family">NEW USER <a routerLink="/signup" style="COLOR:YELLOW">CREAT ACCOUNT</a></h3></div>

     </form>
     
     </div>
     
     </div>
    </div>
    </div>

