.userLogin
 {
 text-align: center;
  box-shadow:10px 10px 20px black;
 background:#EAECEE;
 border-radius:5%;
 margin-top:20px;
}

.bgImg
{               
      height:750px;
      background:#82E0AA;     
     top:0;  
} 
.button
{
    padding-bottom: 30px;
}
h2{
     text-align: center;
     font-size: 60px;
      color:#2C3E50 ;
}
.bg{
    text-align: center;
    margin-top:30px;  
    

}
.size
{
    width:400px;
    height: 400px;
    padding-top:70px;
    padding-right: 100px;
}
input.ng-invalid.ng-touched{
    border:1px solid red;
}
.adjust
{
    text-align: center;
    padding-top:60px;
        

}
.proceed{
    font-size: 20px;
}

.family{
    font-family: cursive;
}