<app-header></app-header>
<div class="container jumbotron">
    
<div class="row">
    <div class="col-xs-12">
            <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit"  [disabled]="!courseForm.valid"  class="btn btn-success heading">Save</button>
                            <button type="button" (click)="onCancle()"class="btn btn-primary heading"> Go Back</button>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="name " class="heading">Name</label>
                            <input type="text" id="name" formControlName="courseName" class="form-control">
                          
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="imagePath " class="heading">Image URL</label>
                                <input type="text" id="imagePath" formControlName="imageUrl" class="form-control" 
                                #imageUrl>
                              
                            </div>
                        </div>
                        </div>
                        <div class="row" >
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="videoPath " class="heading">VIDEO  URL</label>
                                        <input type="text" id="videoPath" formControlName="courseUrl" class="form-control" 
                                        #courseUrl>
                                      
                                    </div>
                                </div>
                                </div>
                              
                    <div class="row" >
                            <div class="col-xs-12">
                                <img [src]="imageUrl.value" class="img-responsive">
                            </div>
                    </div>
                    
                    <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="description" class="heading" >Description</label>
                                    <textarea  formControlName="courseDetail"type="text" id="description" class="form-control" rows="6">
                                      </textarea>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="price " class="heading">price</label>
                                            <input type="number" [maxlength]=4 id="price" formControlName="price" class="form-control">
                                            </div>
        
                                        </div>
                            </div>
                        
            <div class="form-group" >
            <input  type="radio"  formControlName="category" value="WebDevelopment" > <span class="heading" required>WEB DEVELOPMENT </span><br>
            <input  type="radio"  formControlName="category" value="Designing"> <span class="heading" required>DESIGNING </span><br>
            <input  type="radio"  formControlName="category"  value="Craft"><span class="heading" required> ARTS AND CRAFT </span><BR>
            <input  type="radio"  formControlName="category" value="Music"><span class="heading" required >MUSIC </span><BR>
            </div>
          
                     
            </form>
       
    </div>
</div>
</div>