<app-header></app-header>
<div class="container jumbotron">
    
<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit"[disabled]="!courseForm.valid" class="btn btn-success">Save</button>
                    <button type="button" (click)="onCancle()"class="btn btn-danger">Cancle</button>
                </div>
            </div>
            <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" formControlName="name" class="form-control">
                  
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input type="text" id="imagePath" formControlName="imagePath" class="form-control" 
                        #imagePath>
                      
                    </div>
                </div>
                </div>
            <div class="row">
                    <div class="col-xs-12">
                        <img [src]="imagePath.value" class="img-responsive">
                    </div>
            </div>
            <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea  formControlName="description"type="text" id="description" class="form-control" rows="6">
                              </textarea>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="price">price</label>
                                    <input type="text" id="price" formControlName="price" class="form-control">
                                    </div>

                                </div>
                    </div>
                    <div class="btn-group"appDropdown>
                        <button type="button"
                         class="btn btn-primary dropdown-toggle">Choose Category<span class="caret"></span>
                       </button> 
                       <ul class="dropdown-menu">
                         <li><a (click) ="onAddToWeb()"  style="cursor:pointer">WEB DEVELOPMENT</a></li>
                         <li><a (click) ="onAddDesign()"style="cursor:pointer" >DESIGNING</a> </li>
                         <li><a (click)="onAddCraft()" style="cursor:pointer" >ARTS AND CRAFT</a> </li>
                         <li><a (click)="onAddMusic()" style="cursor:pointer">MUSIC</a> </li>  

                       </ul> 
                      </div>
        </form>
    </div>
</div>
</div>