
   <div class="length" (click)="description()" >
      <div class="desc"><div class="size"><u>{{course.name}}</u></div>
      <div style="text-align:center"> <img class="img2"
      [src]="course.imagePath" 
      alt="{{course.name}}" >
    </div>
      <div class="size">{{course.price}} Rs</div>
      <div class="row">
        <div class="col-lg-4"> </div>
         <div class="col-lg-4"><a  [href]="course.videoPath"><span class="glyphicon glyphicon-play-circle play"></span></a></div>
         <div class="col-lg-4"></div>
       </div>
         <div *ngIf="descrip" class="size">{{course.description}}</div>
         
      
    </div>
    </div>
        
               
             
    
    
         
       



