
  
   <!-- <div class="row scale set">
    <div class="col-lg-3 ">
       <div class="desc"><h1><span class="glyphicon glyphicon-play-circle"></span></h1></div>
  </div>
    
   <div class="col-lg-4 " (click)="shows()"style="padding-left:0%">
     
  <img style="height:100px ;width:100%"
           
        [src]="course.imagePath" 
      alt="{{course.name}}" 
      class="img-responsive img "
       >
       </div>
 <div class="col-lg-3 name"(click)="shows()" style="height:100px" >
         <h1>{{course.name}}</h1>
        
    </div>
    <div class="col-lg-2" style="height:100px" >
      <h1>COURSE PURCHASED!!</h1>
    </div>
    </div>
    <div class="container">
        <div class="descri" *ngIf="this.show"><div class="size"><u>{{course.name}}</u></div><div class="size">{{course.description}}</div>
      <div style="text-align:center"> <img class="img2"
                 
        [src]="course.imagePath" 
      alt="{{course.name}}" 
    
       ></div>
       <div class="size">{{course.price}} Rs</div>
        
      
      
       </div>
     -->
    
         
       
  
   

     <div class="container bgimg">
      <div class="row ">
        <div class="col-lg-2"></div>
      <div class="col-lg-4 set anima"  style="padding-left:0% ;height:100px">
      <div  class="col-lg-2"  ><a  style="cursor: pointer;"[href]="course.videoPath"><span style="font-size: 90px" class="glyphicon glyphicon-play-circle play"></span></a></div>
        
       </div>
      <div class="col-lg-4 name set anima"  style="height:100px" >
         <h1 style="font-family: Georgia, 'Times New Roman', Times, serif ;text-align:center">{{course.name}}</h1>

      </div>
      <div class="col-lg-2"><H1>COURSE PURCHASED!!!</H1></div> 
     
    
    
    </div>
    
  </div>
<div class="container" >
  <div class="desc"><div class="size"><u>{{course.name}}</u></div><div class="size">{{course.description}}</div>
<div style="text-align:center"> <img class="img2"
           
  [src]="course.imagePath" 
alt="{{course.name}}" 

 ></div>

 <div class="size">{{course.price}} Rs</div>
  


 </div>
 <hr>
</div>
  
         
       



