
  
   <div class="row scale ">
    <div class="col-lg-4 set"(click)="shows()"><div class="desc  " *ngIf="this.show">{{course.description}}</div>
                          <div class="desc"*ngIf="!this.show"><h1><u>DESCRIPTION</u></h1></div>
  </div>
    <div class="col-lg-8">
      <div class="row set">
   <div class="col-lg-4 " style="padding-left:0%">
     
  <img style="height:100px ;width:100%"
           
        [src]="course.imagePath" 
      alt="{{course.name}}" 
      class="img-responsive img "
       >
       </div>
 <div class="col-lg-4 name" style="height:100px" >
         <h1>{{course.name}}</h1>
        
    </div>
    <div class="col-lg-4" style="height:100px" >
      <h1>COURSE PURCHASED!!</h1>
    </div>
    </div>
    </div>
    </div>
         
       

