<div class="bgImg">
<app-header></app-header>
<div class="row" style="opacity:1">

  <div class="container set">  <h1>GET YOURSELF SIGNIN</h1></div>

<div class="col-lg-2"></div>
<div class="col-lg-3 userSignup">
    <h1>SIGNUP AS A USER</h1>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
        <label for="first-name" >FIRST NAME</label>
        <input type="first-name" id="first-name" name="first-name" ngModel class="form-control" #firstName="ngModel" required>
        <span *ngIf="!firstName.valid && firstName.touched">PLEASE ENTER FIRST NAME</span>
    </div>
    <div class="form-group">
            <label for="last-name" >LAST NAME</label>
            <input type="last-name" id="last-name" name="last-name" ngModel class="form-control" required #lastName="ngModel" #lastName="ngModel"required>
            <span *ngIf="!lastName.valid && lastName.touched">PLEASE ENTER LAST NAME</span>
        </div>
        <div class="form-group">
                <label for="email" >Mail</label>
                <input type="email" id="email" name="email" ngModel class="form-control" required email #email="ngModel">
                <span *ngIf="!email.valid && email.touched">PLEASE ENTER CORRECT EMAIL</span>
            </div>
    <div class="form-group">
            <label for="password" >PASSWORD</label>
            <input type="password" id="password" name="password" ngModel class="form-control" required #password="ngModel">
            <span *ngIf="!password.valid && password.touched">please enter password</span>
        </div>
        <div class="button">
        <button class="btn btn-primary" [disabled]="!f.valid" type="submit">Sign up</button>
        </div>
</form>

</div>
<div class="col-lg-2"></div>
<div class="col-lg-3 adminSignup" >
    <H1>SIGNUP AS ADMIN</H1>
        <form (ngSubmit)="OnSubmit(t)" #t="ngForm">
                <div class="form-group">
                    <label for="First-name" >FIRST NAME</label>
                    <input type="First-name" id="First-name" name="First-name" ngModel class="form-control" #FirstName="ngModel" required>
                    <span *ngIf="!FirstName.valid && FirstName.touched">PLEASE ENTER FIRST NAME</span>

                </div>
                <div class="form-group">
                        <label for="Last-name" >LAST NAME</label>
                        <input type="Last-name" id="Last-name" name="Last-name" ngModel class="form-control" #LastName="ngModel" required>
        <span *ngIf="!LastName.valid && LastName.touched">PLEASE ENTER LAst NAME</span>
                    </div>
                    <div class="form-group">
                            <label for="Email" >Mail</label>
                            
                            <input type="Email" id="Email" name="Email" ngModel class="form-control" required  email #Email="ngModel">
                <span *ngIf="!Email.valid && Email.touched">PLEASE ENTER CORRECT EMAIL</span>
                   
                        </div>
                <div class="form-group">
                        <label for="Password" >PASSWORD</label>
                        <input type="Password" id="Password" name="Password" ngModel class="form-control" #Password="ngModel">
                        <span *ngIf="!Password.valid && Password.touched">please enter password</span>
                        
                    </div>
                    <div class="button">
                    <button class="btn btn-primary"[disabled]="!t.valid" type="submit">Sign up</button>
                    </div>
                        
            </form>
</div>
</div>
</div>