H1
{
    text-align: center;
    font-size:40px;

}
.bgImg
{
  background:#F4D03F ;     

    
}
.error
{
    color:red;
}
.userSignup,.adminSignup
{
 text-align: center;
  box-shadow:10px 10px 20px black;

 background:#EAECEE;
 border-radius:5%;

}
.set
{
    background: #EAECEE;
    
    box-shadow:5px 5px 5px black;
    margin-bottom: 60px;
    
}
.button
{
padding-bottom: 10px;

}
input.ng-invalid.ng-touched
{
    border:red solid 1px;
}

.family
{
    font-family: cursive;
}

.margin
{
    padding-bottom: 200px;
    margin-top:40px;
}

img{
    height:200px;
     padding-top: 70px;
}