
<div class="bgcl">
        
<div class="bgImg">
    <app-header></app-header>    
        
        <h1 class="position  ">Program your future</h1>
        <p class="Pposition " >Get in-demand skills. Courses from ₹432. </p>
        <p class="Pposition ">Ends 9/11, 11:59 p.m. PDT.</p>
        <div class="row ">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-leaf icon"></span>
                <span>100,000 online courses
                Explore a variety of  topics</span>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-ok icon"></span>
                <span >Expert instruction
                 Find the right instructor for you</span>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-time icon"></span> <span >Lifetime access
            on schedule</span>
            </div>
        </div>
    </div>
    <br>
        <div class="jumbotron container mt" >
            <h1>The world’s largest selection of courses
                Choose from over 100,000 online video courses 
                with new additions published every month
            </h1>
        </div>
        <div class="instruction">
            
              <h3 class="content"> GET STARTED BY LOGIN ENHANCE YOUR KNOWLEDGE</h3>
              
        </div>
      <div class="container">
        <h1 class="heading">TOP CATEGORIES</h1>

        <div class="row" id= "catigory">
            <div class="col-md-3">
               <h3> DEVELOPMENT</h3>  
            </div>
            <div class="col-md-3">
              <h3>DESIGNING</h3>
            </div>
            <div class="col-md-3">
              <h3>ART AND CRAFT</h3>
            </div>
            <div class="col-md-3">
             <h3>MUSIC</h3>
            </div>
        </div>
        </div>
    </div>
    


